main {
  min-height: 85vh;
}
.rating span {
  margin: 0.1rem;
}
h3 {
  padding: 1rem 0;
}
.custom-form-control {
  width: 70%;
  display: inline-block;
}

.custom-button {
  width: 30%;
  display: inline-block;
}
